.contact-index {
  margin-block-start: 4rem;
  .contact-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;

    p {
      font-size: 16px;
      color: whitesmoke;
    }

    input[type='text'] {
      width: 40%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #13b18c;
        box-shadow: 0 0 5px rgba(19, 177, 140, 0.3);
      }
    }
  }

  .contact-list {
    margin-block: 1em;
    padding: 10px;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
      gap: 40px;
      padding: 6px;
    }

    li {
      border: 1px solid white;
      border-radius: 10px;
      padding: 20px;
    }

    .name,
    .email,
    .phone {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .name p,
    .email p,
    .phone p {
      color: whitesmoke;
      margin-left: 10px;
    }

    .name p {
      font-weight: bold;
    }
    // &:hover .contact-actions {
    //   visibility: visible;
    // }

    .contact-actions {
      display: flex;
      gap: 10px;
      justify-content: center;

      .action-item {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      &:hover {
        .action-item {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

// $main-color: hsla(160, 100%, 37%, 1);
// $black: #000;

// .article {
//   border: 1px solid $main-color;
//   border-radius: 10px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   margin: 20px;
//   padding: 20px;
//   max-width: 300px;
// }

// .name, .email, .phone {
//   display: flex;
//   align-items: center;
//   margin-bottom: 10px;
// }

// .email p {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     max-width: 200px; // adjust this to your liking
//   }

// .name p, .email p, .phone p {
//   color: whitesmoke;
//   margin-left: 10px;
// }
